.manchetes-list {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.manchete-card {
    min-width: 175px;
    max-width: 300px;
    border-radius: 24px;
    border: 1px solid #10367D;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 1000ms;
    cursor: pointer;
}

.manchete-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.manchete-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 24px 24px 0px 0px;
}

.manchete-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.manchete-description {
    font-size: 1rem;
}

.manchete-title {
    color: #1889CD;
    font-size: 1.4rem;
}

.manchete-date, .manchete-fonte {
    color: #ccc;
    font-size: 0.9rem;
}